body {
  padding: 0;
  margin: 0;
  height: 100vh;
  display: flex;
  line-height: 1.5;

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.logo-background img{
  width: 35vw;
  height: 100vh;
  position: relative;
}

.logo-image {
  position: absolute;
  top: 25%; 
  width: 35vw;

  font-family: 'Bebas Neue', sans-serif;

  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-image img {
  max-height: 15vh;
  max-width: 5vw;
}

.logo-image h1 {
  font-size: 4rem;
  letter-spacing: 0.5rem;
}

form {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.form-top,
.form-bottom {
  background-color: rgba(0, 0, 0, 0.055);
}

.form-top {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2rem;
}

.form-middle {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
}

.form-bottom {
  flex-grow: 1;
  display: flex;
  align-items: flex-start;
  padding: 2rem;
  flex-direction: column;
}



