body {
  padding: 0;
  margin: 0;
  height: 100vh;
  display: flex;
  line-height: 1.5;

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.logo-background img{
  width: 35vw;
  height: 100vh;
  position: relative;
}

.logo-image {
  position: absolute;
  top: 25%; 
  width: 35vw;

  font-family: 'Bebas Neue', sans-serif;

  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-image img {
  max-height: 15vh;
  max-width: 5vw;
}

.logo-image h1 {
  font-size: 4rem;
  letter-spacing: 0.5rem;
}

form {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.form-top,
.form-bottom {
  background-color: rgba(0, 0, 0, 0.055);
}

.form-top {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2rem;
  padding-top: 6rem;
}

.form-top p {
  font-weight: bold;
  margin: 0.1rem 0;
}

.form-top p:last-child {
  margin-top: 1.5rem;
}

.form-middle {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
}

.form-bottom {
  flex-grow: 1;
  display: flex;
  align-items: flex-start;
  padding: 2rem;
  flex-direction: column;
}

.form-bottom button {
  background-color: #af5731;
  color: rgba(255, 255, 255, 0.7);
  font-size: 1rem;
  font-weight: bold;
  padding: 0.75rem 1.25rem;
  border: none;
  border-radius: 10px;
  display: inline-block;
  box-shadow: 7px 8px 13px 3px #2D2D2D;
}

.form-bottom button:hover {
  background-color: #a6532e;
}

.form-bottom button:active {
  transform: scale(0.95);
}

.form-bottom p {
  font-size: 0.75rem;
  padding-top: 1rem;
}

.form-bottom p a {
  text-decoration: none;
  color: #A6535e;
}

.form-input {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 1rem;
}

.form-input label {
  display: block;
  margin-bottom: 0.5rem;
}

.form-input input {
  display: block;
  width: 100%;
  margin-top: 0.25rem;
  border-color: #E5E7EB;
  border-radius: 10px;
}

.form-input input:invalid {
  border-color: red;
}

.form-input input:focus {
  border-color: blue;
}